<%- include('includes/_header') %>

<form action="/pokemones/modificar/<%=pokemon.numero%>" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <div class="field">
        <label for="numero" class="label"> Numero de Pokedex </label>
        <div class="control">
            <input id="numero" name="numero" class="input" type="text" value="<%= pokemon.numero %>">
        </div>
    </div>

    <div class="field">
        <label for="nombre" class="label"> Nombre </label>
        <div class="control">
            <input id="nombre" name="nombre" class="input" type="text" value="<%= pokemon.nombre %>">
        </div>
    </div>

    <div class="select">
            <select name="tipo">
            <% for(let tipo of tipos) { %>
            <option value="<%= tipo.id %>" 
                <%= tipo.id == pokemon.tipo_id ? "selected" : "" %>>
                <%= tipo.tipo %>
            </option>
            <% } %>
        </select>
    <div class="field">
        <label for="region" class="label"> Region </label>
        <div class="control">
            <input id="region" name="region" class="input" type="text" value="<%= pokemon.region %>">
        </div>
    </div>

    <div class="field">
        <label for="imagen" class="label">Imagen</label>
        <div class="control">
            <input id="imagen" name="imagen" class="input" type="text" value="<%= pokemon.imagen %>">
        </div>
    </div>

<input class="button is-primary" type="submit" value="Guardar personaje">
</form>
<br>
<br>
<br>

<%- include('includes/_footer') %>
</body>
</html>